body {
    /* background: url("index/index-images/index-background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    
    background-attachment: scroll; */

    background-color: rgb(0, 0, 0);
    
    min-height: 150vh;
    margin-top: 55px;

    overflow-x: hidden;
}

