body {
    background-color: #a9ba4d9e;
    
    min-height: 150vh;

    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    position: relative;
}

.section-1 {
    background-color: black;
    height: 700px;
}