* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: rgb(91, 91, 91);
    min-height: 100vh;
}

.back-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

.body-container {
    width: 100%;
    height: 100vh;
    /* border: 2px solid black; */
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main-body {
    flex: 1;
    width: 100%;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* border: 2px solid rgb(46, 194, 29); */
}

.content-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 55%;
    top: 15%;
    /* border: 2px solid rgb(255, 255, 255); */

}

.messages {
    /* border: 2px solid rgb(0, 0, 0); */

    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
}
.explore {
    text-decoration: none;

    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 0;    

    border: 1px solid white;
    padding: 15px 80px;
    border-radius: 40px;

    bottom: 0;
}

.messages p {
    color: white;
    white-space: nowrap;
    font-family: 'Times New Roman', Times, serif;
}

.say-hi {
    /* border: 2px solid rgb(255, 0, 153); */
    font-size: 20px;
}

.name {
    /* border: 2px solid rgb(0, 68, 255); */
    padding: 0.5rem 0 0 0;

    font-size: 100px;
    font-weight: 700;
}

@media only screen and (max-width: 67em){
    .say-hi {
        font-size: 18px;

    }
    .name {
        /* background-color: rgb(56, 65, 74); */
        font-size: 80px;
    }
    .explore {
        font-size: 18px;
        padding: 15px 65px;
    }
}

@media only screen and (max-width: 55rem){
    .say-hi {
        font-size: 18px;
    }
    .name {
        /* background-color: rgb(86, 7, 23); */
        font-size: 50px;
    }
    .explore {
        font-size: 16px;
        padding: 14px 50px;
    }
}

@media only screen and (max-width: 34em){
    .say-hi {
        font-size: 18px;
    }
    .name {
        /* background-color: rgb(255, 242, 0); */
        font-size: 45px;
    }
    .explore {
        font-size: 15px;
        padding: 13px 45px;
    }
}

@media only screen and (max-width: 31em){
    .say-hi {
        font-size: 14px;
    }
    .name {
        /* background-color: rgb(255, 0, 0); */
        font-size: 40px;
    }
    .explore {
        font-size: 15px;
        padding: 12px 40px;
    }
}

@media only screen and (max-width: 28em){
    .say-hi {
        font-size: 15px;
    }
    .name {
        /* background-color: rgb(13, 0, 255); */
        font-size: 35px;
    }
    .explore {
        font-size: 15px;
        padding: 12px 40px;
    }
}

@media only screen and (max-width: 25em){
    .say-hi {
        font-size: 15px;
    }
    .name {
        /* background-color: rgb(0, 0, 0); */
        font-size: 27px;
    }
    .explore {
        font-size: 15px;
        padding: 12px 40px;
    }
}

@media only screen and (max-width: 20em){
    .say-hi {
        font-size: 13px;
    }
    .name {
        /* background-color: rgb(24, 64, 19); */
        font-size: 24px;
    }
    .explore {
        font-size: 15px;
        padding: 12px 40px;
    }
}
