* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html, 
body {
    height: 100%;
}

body {
    overflow-x: hidden;
    background-color: black;
    min-height: 100%;   /* dvh svh lvh */

    position: relative;
    
}

form {
    /* border: 2px solid red; */
    color: white;
    margin-top: 1rem;
    

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

form label {
    margin-top: 0.5rem;
}

form button {
    margin-top: 1rem;
    width: 25%;
}

.copyright-footer {
    /* border: 2px solid red; */
    color: white;
    font-size: 12px;
    height: 18px;
    padding: 0;
    margin: 0;

    position: absolute;
    bottom: 0;

    width: 100%;
    text-align: center;
}