* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html, 
body {
    height: 100%;
}

body {
    overflow-x: hidden;
    background-color: black;
    min-height: 100%;   /* dvh svh lvh */
    
}

form {
    color: white;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

form button {
    margin-top: 30px;
    width: 25%;
}