* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    background-color: black;
    overflow-x: hidden;
    position: relative;
    align-items: center;


    min-height: 100vh;
}

body h1 {
    position: absolute;
    color: rgb(255, 0, 0);
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}