* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html, 
body {
    height: 100%;
}

body {
    overflow-x: hidden;
    background-color: black;
    min-height: 100%;   /* dvh svh lvh */
}

.body-content {
    min-height: 100%;
    flex: 1;

    position: relative;
    border: 2px solid rgb(255, 255, 255);
    padding-bottom: 50px;
}


/*  ########################################################  */

/* Slideshow */
.slideshow {
    position: relative;
    margin: 1rem 1rem 0 1rem;
  }


/*  ########################################################  */

.content-header {
    /* background-color: rgb(124, 87, 255); */
    padding: 0.5rem;
    margin: 1rem 1rem 0 1rem;
    position: relative;
}

.content-header  {
    border-radius: 8px;
    background: hsla(0, 0%, 30%, 0.8);
}

@supports (backdrop-filter: blur(1rem)) {
    .content-header {
        background: hsla(0, 0%, 50%, 0.3);
        backdrop-filter: blur(1rem);
    }
}

.content-header p {
    color: white;
    font-weight: 700;
    padding-left: 15px;
}

.info-bar {
    position: absolute;
    /* background-color: black; */
    height: 20px;
    width: 20px;
    right: 15px;
    top: 7px;
}

.bar1,
.bar2 {
    position: absolute;
    background-color: white;
    border-radius: 3px;

    transition: transform 0.4s ease-in-out;
}

.bar1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  height: 100%;
  width: 3px;
}

.bar2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  height: 3px;
  width: 100%;
}

.bar1.active,
.bar2.active {
  background-color: rgb(255, 255, 255);
  transform: translate(-50%, -50%) rotate(45deg);
}

.wrapper {
  padding: 0;
  margin: 0 1rem 0 1rem;
  display: grid;
  /* background-color: lightblue; */
  
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s ease-out;
}

.wrapper.active {
  /* background-color: lightblue; */
  grid-template-rows: 1fr;
}

.inner {
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inner p {
    color: white;
    text-indent: 30px;
    margin: 1rem;
}

.inner h1 {

    background-color: rgb(137, 137, 137);
    color: rgb(255, 255, 255);
    padding: 10px;
    margin: 1rem;
    font-size: medium;
    border-radius: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.inner h1 {

    background-color: rgb(137, 137, 137);
    color: rgb(255, 255, 255);
    padding: 10px;
    margin: 1rem;
    font-size: medium;
    border-radius: 50px;

}

.inner img {
    overflow: hidden;
    max-width: 100%;
}

/*  ########################################################  */

.education-degree {

    background: linear-gradient(90deg, rgba(100, 100, 100, 1) 35%, rgba(239, 21, 10, 1) 100%);
    
    /* border: 2px solid rgb(0, 0, 255); */
    border-radius: 0 2rem 0 2rem;
    margin: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 35em) {
    .education-degree {
        flex-direction: column;
        background: linear-gradient(00deg, rgba(239, 21, 10, 1) 0%, rgba(100, 100, 100, 1) 60%);
    }    
}

.education-logo {
    /* border: 2px solid rgb(0, 225, 255); */
    margin: 10px 10px 10px .5rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width: 35em) {
    .education-logo {
        margin: 10px;
        flex-direction: column;
    }
}

.education-logo img {
    /* border: 2px solid rgb(34, 255, 0); */
    width: 60px;
}

@media (min-width: 35em) {
    .education-logo img {
        margin-right: 10px;
    }

}

.education-logo .unlv {
    font-size: 35px;
    font-weight: 700;

    color: rgb(239, 21, 10); 
}

.education-messages {
    /* border: 2px solid rgb(255, 0, 0); */
    margin: .5rem 1rem .5rem .5rem;
}

@media (max-width: 35em) {
    .education-messages {
        /* border: 2px solid rgb(0, 0, 0); */
        margin: .5rem;
    }
}

.education-messages p {
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    text-indent: 0;

    /* border: 2px solid rgb(0, 0, 0); */
}

@media (max-width: 35em) {
    .education-messages p {
        justify-content: center;
        /* border: 2px solid rgb(108, 36, 36); */
    }
}


.skills {
    width: 100%;
    /* background-color: black; */
    /* border: 2px solid red; */

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.skills p {
    margin: .5rem;
    padding: .5rem;
    border-radius: 1rem;

    text-indent: 0;
    color: black;
    background-color: rgb(124, 255, 192);
}

.copyright-footer {
    /* border: 2px solid red; */
    color: white;
    font-size: 12px;
    height: 18px;
    padding: 0;
    margin: 0;

    position: absolute;
    bottom: 0;

    width: 100%;
    text-align: center;
}