* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html, 
body {
    min-height: 100vh;
}

body {
    min-height: 100vh;
    
    overflow-x: hidden;
    background-color: black;
    /* min-height: 100%; */   /* dvh svh lvh */
}

.body-container {
    width: 100%;
    height: 100%;

    /* border: 2px solid rgb(255, 0, 0); */
}





.images-display {
    /* border: 2px solid rgb(102, 255, 0); */
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}







.content-header {
    /* background-color: rgb(124, 87, 255); */
    padding: 0.5rem;
    margin: 1rem 1rem 0 1rem;
    position: relative;
}

.content-header  {
    border-radius: 8px;
    background: hsla(0, 0%, 30%, 0.8);
}

@supports (backdrop-filter: blur(1rem)) {
    .content-header {
        background: hsla(0, 0%, 50%, 0.3);
        backdrop-filter: blur(1rem);
    }
}

.content-header p {
    color: white;
    font-weight: 700;
}

.info-bar {
    position: absolute;
    /* background-color: black; */
    height: 20px;
    width: 20px;
    right: 10px;
    top: 7px;
}

.bar1,
.bar2 {
    position: absolute;
    background-color: white;
    border-radius: 3px;

    transition: transform 0.4s ease-in-out;
}

.bar1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  height: 100%;
  width: 3px;
}

.bar2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  height: 3px;
  width: 100%;
}

.bar1.active,
.bar2.active {
  background-color: rgb(255, 255, 255);
  transform: translate(-50%, -50%) rotate(45deg);
}

.wrapper {
  padding: 0;
  margin: 0 1rem 0 1rem;
  display: grid;
  /* background-color: lightblue; */
  
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s ease-out;
}

.wrapper.active {
  /* background-color: lightblue; */
  grid-template-rows: 1fr;
}

.inner {
  overflow: hidden;
}

.inner p {
    color: white;
    margin: 1rem;
}









.education-degree {

    background: linear-gradient(90deg, rgba(100, 100, 100, 1) 35%, rgba(239, 21, 10, 1) 100%);
    
    /* border: 2px solid rgb(0, 0, 255); */
    border-radius: 0 3rem 0 3rem;
    margin: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 35em) {
    .education-degree {
        flex-direction: column;
        background: linear-gradient(00deg, rgba(239, 21, 10, 1) 0%, rgba(100, 100, 100, 1) 60%);
    }    
}

.education-logo {
    /* border: 2px solid rgb(0, 225, 255); */
    margin: 10px 10px 10px .5rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width: 35em) {
    .education-logo {
        margin: 10px;
        flex-direction: column;
    }
}

.education-logo img {
    /* border: 2px solid rgb(34, 255, 0); */
    width: 60px;
}

@media (min-width: 35em) {
    .education-logo img {
        margin-right: 10px;
    }

}

.education-logo .unlv {
    font-size: 35px;
    font-weight: 700;

    color: rgb(239, 21, 10); 
}

.education-messages {
    /* border: 2px solid rgb(255, 0, 0); */
    margin: .5rem 1rem .5rem .5rem;
}

@media (max-width: 35em) {
    .education-messages {
        /* border: 2px solid rgb(0, 0, 0); */
        margin: .5rem;
    }
}

.education-messages p {
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 35em) {
    .education-messages p {
        justify-content: center;
    }
}

@media (min-width: 35em) {
    .education-messages p {
        justify-content: flex-end;
    }
}







.section-3 {
    border: 2px solid rgb(255, 255, 0);
    width: 100%;
    height: 500px;
    margin-top: 1rem;
    position: relative;
}

.section-3 h1 {
    position: absolute;

    color: red;
    background-color: yellow;

    text-align: center;
    top: 30%;
    width: 100%;
}
