body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  position: relative;

  color: rgb(255, 255, 255);
  background-color: rgb(30, 30, 30);
  /* background: linear-gradient(0deg, rgb(87, 43, 218) 0%, rgba(0,0,0,1) 70%); */

  min-height: 100vh;
  padding-top: 70px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 110px;
  margin: 0px;
}

body main {
  animation: transitiomIn 2s ease;
}

@keyframes transitiomIn {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}