.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

nav {
    color:white;
}

.flex {
    display: flex;
    flex-direction: row;
    gap: var(--gap, 1rem);
}

.home-icon,
.toggle-home-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    margin: 1.5rem;
}

.toggle-home-icon {
    width: 50px;
}

.primary-header {
    align-items: center;
    justify-content: space-between;
}

.mobile-nav-toggle {
    display: none;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(1rem);
    /* background: hsl(0 0% 20% / 0.75); */
}

/* @supports (backdrop-filter: blur(1rem)) {
    .primary-navigation {
        background: hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(1rem);
    }
} */

.primary-navigation a {
    text-decoration: none;
    color: white;
    font-family: 'Audiowide', Arial, Helvetica, sans-serif;
}

.primary-navigation a > [aria-hidden="true"] {
    font-weight: 700;
    margin-inline-end: .75em;
}

@media (max-width: 35em) {
    .primary-navigation {
        --gap: 2em;

        position: fixed;
        z-index: 1000;
        inset: 0 0 0 50%;

        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        border-radius: 4rem 0 0 4rem;

        transform: translateX(100%);
        transition: transform 400ms ease-out;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        background: url("primary-header-images/hamburger-icon.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 2rem;
        border: 0;
        aspect-ratio: 1;
        margin: 1.5rem;
        right: 0px;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background: url("primary-header-images/X-icon.png");
        background-size: cover;
        width: 2rem;
    }

    .mobile-nav-toggle:hover {
        cursor: pointer;
    }
}

@media (min-width: 35em) and (max-width: 55em) {
    .primary-navigation a > span[aria-hidden] {
        display: none;
    }   
}

@media (min-width: 35em){
    .primary-navigation{
        border-radius: 2rem 0 0 2rem;
        --gap: clamp(1.5rem, 5vw, 7rem);
        padding-block: 1rem;
        padding-inline: clamp(3rem, 8vw, 10rem);
    }

}