* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html, 
body {
    height: 100%;
}

body {
    overflow-x: hidden;
    background-color: black;
    min-height: 100%;   /* dvh svh lvh */
}

.portrait {
    /* border: 2px solid rgb(255, 255, 0); */
    width: 100%;
    margin-top: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.portrait img {
    width: 50%;
    height: auto;
    border-radius: 50%;

}

.quote {
    /* border: 2px solid rgb(255, 0, 0); */
    width: 100%;
    margin-top: 1rem;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(12px, 1vw + 1vh, 24px);
    margin: 1rem;
    text-align: center;
}

.copyright-footer {
    /* border: 2px solid red; */
    color: white;
    font-size: 12px;
    height: 18px;
    padding: 0;
    margin: 0;

    position: absolute;
    bottom: 0;

    width: 100%;
    text-align: center;
}