body {
    /* background: url("index-images/index-background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    
    background-attachment: scroll; */

    background-color: lightskyblue;
    margin: 0px;

    min-height: 150vh;

    overflow-x: hidden;
}

